<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportify - Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% set title = 'Sportify - Панель администратора' %}
    {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="event-form">
        <div class="container">
            <a href="/admin/rangs" class="standard-button">Ранги</a>
            <a href="/admin/create_comp" class="standard-button">Создать соревнование</a>
            <a href="/admin/create_rang" class="standard-button">Создать ранг</a>
            <a href="/admin/logout" class="standard-button">Выйти</a>
        </div>
    </section>

    <script>
        var flashMessages = document.querySelectorAll('.flash-message');

        flashMessages.forEach(function(message) {
            setTimeout(function() {
                message.style.display = 'none';
            }, 3000);
        });
    </script>
    
</body>
</html>
