<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/sportify-logo-black-rus.png') }}" type="image/x-icon">
</head>
<body>
    {% set title = 'Sportify' %}
    {% include 'navbar.html' %}

    <section class="hero">
        <div class="container">
            <h2>Sportify - Тверь. Дрель. Спорт</h2>
            <p>Просматривайте результаты соревнований.</p>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <div class="image-container">
                <img src="{{ url_for('static', filename='img/main_img_1.jpg') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='img/main_img_2.jpg') }}" alt="Image 2">
                <img src="{{ url_for('static', filename='img/main_img_3.jpg') }}" alt="Image 3">
            </div>
        </div>
    </section>

    <h2>Ранги</h2>
            {% if events %}
                {% for event in events %}
                    <tr>
                        <td>{{ event[0] }}</td>
                        <td>{{ event[1] }}</td>
                        <td>{{ event[2] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

    <table class="uber-table">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Команда</th>
                <th>Группа</th>
                <th>Очки</th>
            </tr>
        </thead>
        <tbody>

            <h2>Результаты</h2>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <!-- <td>{{ user[0] }}</td> -->
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Нет данных о пользователях</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <footer>
        <div class="container">
            <p>&copy; 2024 Sportify.</p>
        </div>
    </footer>
</body>
</html>
