<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проект Тимофея Белова</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/sportify-logo-black-rus.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    {% set title = 'Проект Тимофея Белова' %} {% include 'navbar.html' %}

    <section class="hero">
      <div class="container">
        <h2>
          Спортивные ранги федерации спортивного ориентирования Тверской области
        </h2>
      </div>
    </section>
    <section class="index_rangs">
      <h2>Ранги</h2>
      <div class="rangs_container">
      {% if rangs %} {% for rang in rangs %}
      <a href="/rang/{{rang[0]}}">
        <tr>
          <td>{{ rang[0] }}</td>
          <td>{{ rang[1] }}</td>
        </tr>
      </a>
      {% endfor %} {% endif %}
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2024 Тимофей Белов, Ростислав Козак.</p>
      </div>
    </footer>
  </body>
</html>
