<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ранг федерации СО ТО</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/sportify-logo-black-rus.png') }}" type="image/x-icon">
</head>
<body>
    {% set title = 'Проект Тимофея Белова' %} {% include 'navbar.html' %}
    <section class="rang">
    <h2 class="rang_view_header">{{rang_name}}</h2>
    <h2 class="rang_view_header">Этапов в зачёт {{count}} | выделено зелёным</h2>
    <h3>Этапы:</h3>
            {% if events %}
                {% for event in events %}
                    <tr>
                        <td>{{ event[1] }} |</td>
                        <td>Дата: {{ event[0] }} |</td>
                        <td>Дисциплина: {{ event[2] }}</td>
                        <td><a href="{{event[3]}}" target="_blank">Протокол</a></td>
                    </tr>
                    <br/>
                {% endfor %}
            {% endif %}
    {% set group = namespace(name="") %}
    {% set indexes = namespace(index_array = "") %}
    {% for item in table_data %}
        {% if group.name != item[4] %}
            {% set group.name = item[4] %}
                </tbody>
            </table>
            <h3>{{item[4]}}</h3>
            <table class="uber-table">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Команда</th>
                        <th>Сумма очков</th>
                        {% for i in range(1, event_count+1) %}
                            <th>{{i}}.Место</th>
                            <th>{{i}}.Очки</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
        {% endif %}
        {% set indexes.index_array = item[1] %}
        {% if item[6] != 0 %}
             <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
                {% set counter = namespace(count = 0, param = "bg-green", i = 0, add = 0) %}
                {% for i in range(7, item|length)%}
                    {% if indexes.index_array|length > 0 and indexes.index_array[counter.count] == counter.i %}
                        {% set counter.param = "" %}
                        {% set counter.add = counter.add + 1 %}
                    {% endif %}
                    <td class="{{counter.param}}">{{item[i]}}</td>
                    {% if i % 2 == 0 %}
                        {% set counter.i = counter.i + 1 %}
                    {% endif %}
                    {% if counter.add == 2 %}
                            {% set counter.count = counter.count + 1 %}
                            {% set counter.add = 0 %}
                            {% set counter.param = "bg-green" %}
                        {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
    {% endfor %}
</tbody>
</table>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Sportify.</p>
        </div>
    </footer>
</body>
</html>
